.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active {
    border-left: 3px solid #444;
}

.carousel-item {
    max-height: 450px;
}

#home-heading {
    background: linear-gradient(0, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url('../img/lights.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#video-play {
    background: linear-gradient(0, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url('../img/media.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#video-play a {
    color: #fff;
}

#main-footer {
    background: #000;
    color: #fff;
}

/* ABOUT PAGE */

#page-header {
    background: linear-gradient(0, rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/image1.jpg');
    background-attachment: fixed;
    background-position: top;
    border-bottom: 1px #eee solid;
}

#about .about-image {
    margin-top: -50px;
}